body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    --nav-height:48px;
    --bottom-nav-height:56px;
    --spacing-big:32px;
}
 
.nav {
    height: var(--nav-height);
}

.page {
    padding-top: var(--spacing-big);
    position: absolute;
    top: --nav-height;
    width: 100%;
    overflow-y: auto;
    height: calc(#{100%} - var(--bottom-nav-height) - var(--nav-height) - var(--spacing-big));
}

.bottom-nav {
    position: absolute;
    height: var(--bottom-nav-height);
    bottom: 0px;
    width: 100%;
}

.configure {
    button {
        width: 100%;
    }
    .cell-button {
        width: 64px;
    }
    .question {
        padding-left: 14px;
    }
}